{% extends 'admin_base.html.twig' %}

{% block title %}Retour des emprunts{% endblock %}

{% block body %}
    <h1>Retour des emprunts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abonné</th>
                <th>Livre</th>
                <th>Date Emprunt</th>
                <th>Date Retour</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.pseudo }}</td>
                <td>{{ emprunt.livre.titreAuteur }}</td>
                <td>{{ emprunt.dateEmprunt|date() }}</td>
                <td>
                    <a href="{{ path("app_biblio_retour_emprunt", {id: emprunt.id}) }}" class="btn btn-warning">Retour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun emprunt enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_emprunt_new') }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> Ajouter un emprunt
    </a>
{% endblock %}
